doctype html
html
    head
        meta(charset="utf-8")

        //- Display environment when not in production
        if environment === "production"
            title Tiger Team
        else
            title= '[' + environment + '] - Tiger Team'

        base(href="/")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet", type="text/css", href="app.css")

    body

        header
            h1 Tiger Team

