doctype html
html
    head
        block head
            include ./_includes/head

    body

        block site-header
            include ./components/site-header/site-header

        block main
            include ./components/homepage/homepage

        block site-footer
            include ./components/site-footer/site-footer


